<footer class="mastfoot pb-5 bg-white section-padding pb-0">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4">
         		
         	</div>
         	<!--  
         	<div class="col-lg-4">
         		<div class="footer-widget px-lg-5 px-0">
         			<h4>Open Hours</h4>
	         		<ul class="list-unstyled open-hours">
		                <li class="d-flex justify-content-between"><span>Monday</span><span>4pm-7pm</span></li>
		                <li class="d-flex justify-content-between"><span>Tuesday</span><span>4pm-7pm</span></li>
		                <li class="d-flex justify-content-between"><span>Wednesday</span><span>4pm-7pm</span></li>
		                <li class="d-flex justify-content-between"><span>Thursday</span><span>4pm-7pm</span></li>
		                <li class="d-flex justify-content-between"><span>Friday</span><span>4pm-7pm</span></li>
		                <li class="d-flex justify-content-between"><span>Saturday</span><span>4pm-7pm</span></li>
		                <li class="d-flex justify-content-between"><span>Sunday</span><span> Closed</span></li>
		              </ul>
         		</div>
         	--> 


            </div>
         	<div class="col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">{{.Site.Copyright | safeHTML }} &copy;2024 <a href="https://www.awill.me/" target="_blank">AWILL</a> </p>
         	</div>
            
        </div>
    </div>
</footer>	
</div>
</div>
	<!-- External JS -->
	<script src="{{ "js/jquery.min.js" | absURL }}"></script>
	<script src="{{ "js/moment.min.js" | absURL }}"></script>
	<script src="{{ "vendor/bootstrap/popper.min.js" | absURL }}"></script>
	<script src="{{ "vendor/bootstrap/bootstrap.min.js" | absURL }}"></script>
	<script src="{{ "vendor/select2/select2.min.js" | absURL}}"></script>
	<script src="{{ "vendor/owlcarousel/owl.carousel.min.js" | absURL}}"></script>
	<script src="{{ "js/featherlight.min.js" | absURL}}" ></script>
	<script src="{{ "vendor/stellar/jquery.stellar.js" | absURL}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "js/tempusdominus-bootstrap-4.min.js" | absURL}}" ></script>
	{{if .IsHome }}
	<!--Main JS --> 
	<script src="{{ "js/app.min.js"  | absURL}}"></script>
	{{end}}

	
	
