<!-- Menu Section -->
<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <h2>
                                Meet Our Flavours
                        </h2>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5"></h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/triple-berry-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Triple Berry</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/coconut-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Coconut</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/klp-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Key Lime Pie</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/chocolate-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Chocolate</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/mazapan-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Mazapán</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/orange-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Orange</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/lime-mint-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Lime Mint</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5"></h3>
                   </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/horchata-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Horchata</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/lime-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Lime</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/mango-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Mango</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/pecan-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Pecan</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/dulce-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Dulce de Leche (Caramel)</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/dutch-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Dutch Cookie Butter</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/cherry-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Cherry & Lime</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5"></h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/watermelon-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Watermelon</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/pineapple-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Pineapple</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/strawberry-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Strawberry</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/oreos-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Oreos & Cream</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/lava-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Chocolate Lava Cake</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/passion-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Passion Fruit & Peach</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src='{{"img/pops/hibiscus-menu.jpg" | absURL }}' alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Hibiscus & Raspberries</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3</h4>
                                </div>
                            </div>
                        </div>
                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of menu Section -->