<div id="canvas-overlay"></div>
        <div class="boxed-page">
            <nav id="navbar-header" class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand navbar-brand-center d-flex align-items-center p-0 only-mobile" href='{{.Site.BaseURL}}'>
                <img src="{{.Site.Params.logo | absURL }}" alt="logo">
            </a>
<!---
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
-->    
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-between">
                    <li class="nav-item only-desktop">
 <!--                       <a class="nav-link" id="side-nav-open" href="#">
                            <span class="fa fa-bars"></span>
                        </a>
-->
                    </li>

                      <a class="navbar-brand navbar-brand-center d-flex align-items-center only-desktop" href="#">
                    <img src="{{.Site.Params.logo | absURL }}" alt="">
                </a>
<!--                    
                    <div class="d-flex flex-lg-row flex-column">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-menu">Menu</a>
                        </li>
                    </div>
                </ul>
                
                <a class="navbar-brand navbar-brand-center d-flex align-items-center only-desktop" href="#">
                    <img src="{{.Site.Params.logo | absURL }}" alt="">
                </a>

                <ul class="navbar-nav d-flex justify-content-between">
                    <div class="d-flex flex-lg-row flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-team">Team</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a id="side-search-open" class="nav-link" href="#">
                            <span class="lnr lnr-magnifier"></span>
                        </a>
                    </li>
                </ul>
-->    
            </div>
        </div>
    </nav>
