<!-- Team Section -->
<!--
<section id="gtco-team" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <h2>
                    Our Team
                </h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src='{{"img/chef-1.jpg" | absURL }}' alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Denisse</h4>
                            <p class="mb-1">Head Chef</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src='{{"img/chef-2.jpg" | absURL }}' alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Leo</h4>
                            <p class="mb-1">Head taster</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src='{{"img/chef-3.jpg" | absURL }}' alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Antony</h4>
                            <p class="mb-1">Driver</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- End of Team Section -->
