{{define "main"}}
<body data-spy="scroll" data-target="#navbar" class="static-layout">
       		<div class="hero">
      <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 hero-left">
                <h1 class="display-4 mb-5">{{ .Site.Params.heroText | safeHTML }}</h1>
                <div class="mb-2">
                       <h5> We are closed for the season!</h5>
                    <a class="btn btn-primary btn-shadow btn-lg" href="{{ .Site.BaseURL | absURL }}#gtco-menu" role="button">Explore Menu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>


                <div class="mb-2">
                     <a class="btn btn-primary btn-shadow btn-lg" href="https://forms.gle/Z8p72UVcA3uiWH2P6">Info & Pre-Order</a>
                </div>
              


<!---               
                <ul class="hero-info list-unstyled d-flex text-center mb-0">
                    <li class="border-right">
                        <span class="fa fa-home fa-2x"></span>
                        <h5>
                            Local
                        </h5>
                    </li>
                    <li class="border-right">
                        <span class="fa fa-heart fa-2x"></span>
                        <h5>
                            Homemade
                        </h5>
                    </li>

                    <li class="">
                        <span class="fa fa-retweet fa-2x"></span>
                        <h5>
                            Rotating Flavours
                        </h5>
                    </li>
                </ul>
-->
    
            </div>
            <div class="col-lg-6 hero-right">
                <div class="owl-carousel owl-theme hero-carousel">
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/mazapan.jpg" | absURL }}' alt="">
                    </div> 
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/lime-mint.jpg" | absURL }}' alt="">
                    </div> 
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/triple-berry.jpg" | absURL }}' alt="">
                    </div>                         
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/horchata.jpg" | absURL }}' alt="">
                    </div>                         
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/coconut.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/dulce.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/chocolate.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/hibiscus.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/orange.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/lava.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/dutch.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/lime.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/passion.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/strawberry.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/watermelon.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/klp.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/pineapple.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/mango.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/pecan.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/cherry.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/dutch.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/lava.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/pops/oreos.jpg" | absURL }}' alt="">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>	 

    {{ partial "menu.html" . }}
<!--    
    {{ partial "team.html" . }}
 -->                                  

{{ end }}
